<!DOCTYPE html>
<html>
<head>
    <title>Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container mt-2">
    <a href="{{ url_for('update_products_price') }}" class="btn btn-primary" role="button">Update price</a>
    <a href="{# {{ url_for('delete_product') }} #}#" class="btn btn-secondary" role="button">Parse shops</a>
    <a href="{# {{ url_for('delete_product') }} #}#" class="btn btn-secondary" role="button">Parse and send admin email</a>
    <a href="{# {{ url_for('delete_product') }} #}#" class="btn btn-secondary" role="button">Parse, send admin emails, send shops emails</a>
</div>
{% if session['message'] %}
    <div class="container mt-2">
        <div class="container alert alert-primary" role="alert">
        {{ session['message'].text }}
        </div>
    </div>
{% endif %}
<div class="container">
    <h1>Manage Data</h1>

    {# <h2>Violations</h2>
    <form method="POST" action="{{ url_for('add_violation') }}">
        <div class="form-group">
            <input type="text" name="task_id" class="form-control" placeholder="Task ID">
        </div>
        <div class="form-group">
            <input type="text" name="product_id" class="form-control" placeholder="Product ID">
        </div>
        <div class="form-group">
            <input type="text" name="shop_id" class="form-control" placeholder="Shop ID">
        </div>
        <div class="form-group">
            <input type="text" name="shop_price" class="form-control" placeholder="Shop Price">
        </div>
        <div class="form-group">
            <input type="text" name="base_price" class="form-control" placeholder="Base Price">
        </div>
        <div class="form-group">
            <input type="text" name="shop_email" class="form-control" placeholder="Shop Email">
        </div>
        <div class="form-group">
            <input type="text" name="onliner_product_info" class="form-control" placeholder="Onliner Product Info">
        </div>
        <button type="submit" class="btn btn-primary">Add Violation</button>
    </form>
    <hr>
    <ul class="list-group">
        {% for violation in violations %}
            <li class="list-group-item">
                Task ID: {{ violation.task_id }} | Product ID: {{ violation.product_id }} | Shop ID: {{ violation.shop_id }}
                <a href="{{ url_for('delete_violation', id=violation.id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
                <a href="{{ url_for('edit_violation', id=violation.id) }}" class="btn btn-secondary btn-sm float-right mr-2">Edit</a>
            </li>
        {% endfor %}
    </ul> #}

    <h2>Products</h2>
    <form method="POST" action="{{ url_for('add_product') }}">
        <div class="form-group">
            <input type="text" name="vendor_code" class="form-control" placeholder="Vendor Code">
        </div>
        <div class="form-group">
            <input type="text" name="onliner_url" class="form-control" placeholder="Onliner URL">
        </div>
        <div class="form-group">
            <input type="text" name="price" class="form-control" placeholder="Price">
        </div>
        <div class="form-group">
            <input type="text" name="dumping_category_id" class="form-control" placeholder="Dumping Category ID">
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
    <hr>
    <table class="table table-sm">
        <thead>
            <th>Vendor Code</th>
            <th>Onliner URL</th>
            <th>Price</th>
            <th>Category</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.vendor_code }}</td>
                <td>{{ product.onliner_url }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.dumping_category.id }}</td>
                <td>
                    <a href="{{ url_for('delete_product', vendor_code=product.vendor_code) }}" class="btn btn-danger btn-sm float-right">Delete</a>
                    <a href="{{ url_for('edit_product', vendor_code=product.vendor_code) }}" class="btn btn-secondary btn-sm float-right mr-2">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Categories</h2>
    <form method="POST" action="{{ url_for('add_category') }}">
        <div class="form-group">
            <input type="text" name="dumping_percentage" class="form-control" placeholder="Dumping Percentage">
        </div>
        <div class="form-group">
            <input type="text" name="description" class="form-control" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
    <hr>

    <table class="table table-sm">
        <thead>
            <th>Category ID</th>
            <th>Percentage(1% = 0.01)</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.dumping_percentage }}</td>
                <td>{{ category.description }}</td>
                <td>                
                    <a href="{{ url_for('delete_category', id=category.id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
                    <a href="{{ url_for('edit_category', id=category.id) }}" class="btn btn-secondary btn-sm float-right mr-2">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h2>Shops</h2>
    <table class="table table-sm">
        <thead>
            <th>Shop ID</th>
            <th>Title</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.title }}</td>
                <td>{{ shop.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Shop Contacts</h2>
    <form method="POST" action="{{ url_for('add_contact') }}">
        <div class="form-group">
            <input type="text" name="shop_id" class="form-control" placeholder="Shop ID">
        </div>
        <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" name="phone" class="form-control" placeholder="Phone">
        </div>
        <button type="submit" class="btn btn-primary">Add Contact</button>
    </form>
    <hr>
    <ul class="list-group">
        {% for contact in contacts %}
            <li class="list-group-item">
                Shop ID: {{ contact.id }} | Email: {{ contact.email }} | Phone: {{ contact.phone }}
                <a href="{{ url_for('delete_contact', id=contact.id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
                <a href="{{ url_for('edit_contact', id=contact.id) }}" class="btn btn-secondary btn-sm float-right mr-2">Edit</a>
            </li>
        {% endfor %}
    </ul>

</div>
</body>
<script>

</script>
</html>
